$background: #ffffff;
$foreground: #213F7D;
$backgroundSecondary:#FBFBFB;
$primaryColor:#39CDCC;
$secondaryColor:#213F7D;
$mutedColor:#545F7D;
$mutedTableColor:#68728C;
$dangerColor:#E4033B;


$borderColor: #e5e5e5;