

@import "./variables.scss";

.datePickerWrapper {
  width: 100%;

  label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: $mutedColor;
    margin-bottom: 0.25rem;
  }

  .inputContainer {
    position: relative;

    input {
      width: 100%;
      padding: 0.5rem 2.5rem 0.5rem 1rem;
      font-size: 0.875rem;
      color: $mutedColor;
      border: 1px solid #d1d5db;
      border-radius: 0.5rem;
      outline: none;
      transition: 0.2s ease border;
      

      &::placeholder {
        color: #9ca3af; // Gray-400
      }
    }

    .calendarIcon {
      position: absolute;
      top: 50%;
      right: 0.75rem;
      transform: translateY(-50%);
      width: 1rem;
      height: 1rem;
      pointer-events: none;
      fill: #9ca3af; // Gray-400
    }
  }
}
