@use "./variables.scss" as *;
@use "./mixins.scss" as *;

.sidebar {
  width: 250px;
  background-color: #fff;
  height: calc(100vh - 80px);
  overflow-y: auto;
  z-index: 999;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
  padding: 2rem 0rem;
  border-right: 1px solid $borderColor;

  @include flex-column;
  gap: 2rem;

  .top {
    @include flex-column;
    gap: 1rem;
  }

  .switchOrg {
    @include flex-center;
    background: none;
    border: none;
    color: $secondaryColor;
    font-weight: 600;
    font-size: 0.875rem;
    cursor: pointer;
    gap: 0.5rem;

    span {
      text-align: left;
      @include respond(phone) {
        display: none;
      }
      @include respond(tablet) {
        display: none;
      }
    }
  }

  .navItem {
    @include flex-y-center;
    gap: 1rem;
    padding: 0.75rem 0rem;
    color: $mutedColor;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
    padding-left: 1.9rem;
    @include respond(phone) {
      padding-left: 0.5rem;
    }
    span {
      padding-left: 0.5rem;
      display: block;
      @include respond(phone) {
        display: none;
      }
      @include respond(tablet) {
        display: none;
      }
    }

    &:hover {
      background-color: #f3fcfc;
      color: $secondaryColor;
    }

    &.active {
      background-color: #f3fcfc;
      border-left: 3px solid $primaryColor;
      color: $secondaryColor;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }

  .navGroup {
    @include flex-column;
    gap: 0.25rem;

    .sectionTitle {
      font-size: 0.75rem;
      font-weight: 600;
      color: $mutedColor;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      padding-left: 1.9rem;
      @include respond(phone) {
        padding-left: 0.5rem;
      }
      @include respond(tablet) {
        padding-left: 0.5rem;
      }
    }
  }

  //widht on sllllllmaller screens
  // animate the shrink
  @include respond(phone) {
    width: 90px;
    transition: width 0.2s ease;
  }
  @include respond(tablet) {
    width: 150px;
    transition: width 0.2s ease;
  }
}
