@use "./variables.scss" as *;
@use "./mixins.scss" as *;

.userdetails {
  
  .userdetailsHeader {
    @include flex-column;
    padding: 1rem 0;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 2rem;
    .backButton {
      @include flex-component;
      gap: 0.5rem;
      cursor: pointer;
      color: $mutedColor;
      p {
        font-size: 0.875rem;
      }
    }
    .userdetailsHeaderBottom {
      @include flex-between;
      gap: 1rem;
      h1 {
        font-size: 1.5rem;
        font-weight: 600;
        color: $secondaryColor;
      }
      .userdetailsHeaderBottomButtons {
        @include flex-center;
        gap: 1rem;
        button {
          border-radius: 0.5rem;
          width: 9rem;
        }
        .blacklistButton {
          background: transparent;
          color: $dangerColor;
          border: 1px solid $dangerColor;
        }
        .activateButton {
          background: transparent;
          color: $primaryColor;
          border: 1px solid $primaryColor;
        }
      }
    }
  }
  .userdetailsTopBar {
    background-color: $background;
    padding: 2rem 2rem 0.3rem 2rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .userDetailsTopBarContainer {
      @include flex-y-center;
      
      gap: 2rem;


      .userMainInfo {
        display: flex;
        align-items: center;
        gap: 1rem;
        

        .userdetailsIcon {
          width: 6.25rem;
          height: 6.25rem;
          border-radius: 50%;
          overflow: hidden;
          background-color: $mutedTableColor;
          @include flex-center;
        }

        .nameSection {
          p {
            margin: 0;
          }

          .name {
            font-weight: bold;
            color: $textPrimary;
            font-size: 1.125rem;
          }

          .id {
            color: $textSecondary;
            font-size: 0.875rem;
          }
        }
      }

      .userTier {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        padding: 0 2rem;
        p {
          font-size: 0.875rem;
          color: $textSecondary;
          margin: 0 0 0.25rem 0;
        }

        .stars {
          font-size: 1rem;
          color: gold;
        }
      }

      .accountInfo {
        display: flex;
        flex-direction: column;

        .balance {
          font-size: 1.25rem;
          font-weight: bold;
          color: $textPrimary;
        }

        .accountNumber {
          font-size: 0.75rem;
          color: $textSecondary;
        }
      }
    }

    .navTabs {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #ddd;
      padding-top: 1rem;
      span {
        font-size: 0.875rem;
        color: $textSecondary;
        cursor: pointer;
        position: relative;

        &.active {
          color: $primaryColor;

          &::after {
            //center the line
            content: "";
            position: absolute;
            bottom: -0.25rem;
            left: -1rem;
            width: calc(100% + 2rem);
            height: 2px;
            background-color: $primaryColor;
          }
        }
      }
    }
  }
  .userdetailsGeneralDetails {
    background-color: $background;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    @include flex-column;
    gap: 2rem;
    h2 {
      font-size: 1rem;
      font-weight: bold;
      color: $textPrimary;
      margin: 0 0 1.5rem 0;
    }
    .userdetailsGeneralDetailsContainer {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
      div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        p:first-child {
          font-size: 0.875rem;
          color: $textSecondary;
          margin: 0;
        }
        p:last-child {
          font-size: 0.875rem;
          color: $textPrimary;
          margin: 0;
        }
      }
    }
  }
}
