@use "./variables.scss" as *;
@use "./mixins.scss" as *;
.userpage {
  h1 {
    font-size: 1.5rem;
  }
  .cardsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2.5rem;

    .card {
      background-color: #ffffff;
      border: 1px solid #e5e5e5;
      border-radius: 8px;
      padding: 1.5rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 8px 12px rgba(185, 45, 45, 0.08);
      }

      .icon {
        padding: 0.75rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 1.5rem;
          height: 1.5rem;
          fill: $primaryColor;
        }
      }

      .title {
        font-size: 0.875rem;
        color: #666;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.5px;
      }

      .value {
        font-size: 1.75rem;
        font-weight: 700;
        color: #213f7d;
      }
    }
    @include respond(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }
  .tableWrapper {
    position: relative;
    margin-top: 2.5rem;
    width: 100%;
    overflow-x: auto;
    border-radius: 0.5rem;
    background: $background;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    .table {
      width: 100%;
      border-collapse: collapse;
      th,
      td {
        padding: 1rem;
        text-align: left;
        font-size: 0.875rem;
        border-bottom: 1px solid #e5e5e5;
        white-space: nowrap;
      }
      td {
        color: $mutedTableColor;
      }

      th {
        .tableHead {
          @include flex-component;
          gap: 0.5rem;
          cursor: pointer;
        }

        background-color: $background;
        font-weight: 600;
        color: $mutedColor;
      }

      tr:hover {
        background-color: #f5f5f5;
      }

      td:last-child {
        text-align: right;
      }

      .status {
        padding: 0.25rem 0.75rem;
        border-radius: 1rem;
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: capitalize;
      }

      .active {
        background-color: rgba(57, 205, 98, 0.1);
        color: #39cd62;
      }

      .inactive {
        background-color: rgba(84, 95, 125, 0.1);
        color: #545f7d;
      }

      .pending {
        background-color: rgba(233, 178, 0, 0.1);
        color: #e9b200;
      }

      .blacklisted {
        background-color: rgba(228, 3, 59, 0.1);
        color: #e4033b;
      }

      .moreBtn {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0.25rem;
      }

      .actionsCell {
        text-align: right;
      }
    }
  }
  .pagination {
    @include flex-between;
    margin-top: 2rem;
    padding: 1rem 0;
    border-top: 1px solid #e5e5e5;
    .showing {
      @include flex-center;
      gap: 0.5rem;
      select {
        padding: 0.5rem;
        @include flex-center;
        border-radius: 0.5rem;
        border: none;
        background: #213f7d1a;
        color: $mutedColor;
        cursor: pointer;
      }
      span {
        color: $mutedColor;
      }
    }
    select {
      padding: 1rem;
      @include flex-center;
      border-radius: 0.5rem;
      border: none;
      background: #213f7d1a;
      color: $mutedColor;
      cursor: pointer;
    }
    .pageNumbers {
      display: flex;
      gap: 0.5rem;
      button {
        border: none;
        background: transparent;
        color: $mutedTableColor;
        cursor: pointer;
        opacity: 0.6;
        &.active {
          background-color: transparent;
          color: $mutedColor;
          opacity: 1;
        }
        &.arrow {
          background: transparent;
          color: $mutedColor;
        }
      }
    }
  }
}
.dropdownMenu {
  background-color: white;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  z-index: 10;
  width: 150px;
  display: flex;
  flex-direction: column;

  button {
    padding: 0.75rem 1rem;
    text-align: left;
    font-size: 0.85rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    @include flex-center;
    gap: 0.5rem;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
.filterDropdown {
  @include respond(tablet) {
    left: 10rem;
    top: 36rem;
  }

  @include respond(phone) {
    left: 9rem;
    top: 62rem;
  }
  background-color: $background;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  z-index: 1000;
  position: absolute;
  top: 23.5rem;
  left: 17.5rem;
  padding: 1rem;
  width: 270px;
  display: flex;
  flex-direction: column;

  .filterDropdownContainer {
    @include flex-column;
    gap: 1rem;
    input {
      border-radius: 0.5rem;
      height: 2.5rem;
      color: $mutedColor;
      font-weight: 500;
      border: 1px solid #ccc;

      &:hover {
      border-color: #999;
    }
    }
    .filterButtonContainer {
      @include flex-between;
      gap: 0.5rem;
      button {
         @include flex-center;
        border-radius: 0.5rem;
        height: 2.5rem;
        font-weight: 500;
        width: 100%;
      }
      .resetButton { 
        background: #fff;
        color: $mutedColor;
        border: 1px solid $mutedColor;
      }
    }
  }
}
